<!DOCTYPE html>
<html>
<head>
    <title>Orderbook percentage</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Orderbook percentage</h1>

<div id="container" style="height: 400px; min-width: 310px"></div>


<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts//highcharts.js"></script>

<script>

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Orderbook percentage'
            },
            xAxis: {
                title: {
                    text: 'Number of bitcoins'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Profit margin (%)'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f}%'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 800,
                y: 10,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} BTC, {point.y}%'
                    }
                }
            },
            series: [
                <% for(var i = 0; i < results0_1[0].length; i++) { %>
                <% for(var j = 0; j < results0_1[0].length; j ++){ %>
                <% if(i != j && ((results0_1[0][i][1]-results0_1[1][j][1])/results0_1[0][i][1])*100 > 0){%>
                {
                    name: '<%= results0_1[0][i][0] %>-BIDS-<%= results0_1[0][j][0] %>-ASKS',
                    data: [
                        <% if(((results0_1[0][i][1]-results0_1[1][j][1])/results0_1[0][i][1])*100 != -Infinity) { %>
                        [0.1, <%= ((results0_1[0][i][1]-results0_1[1][j][1])/results0_1[0][i][1])*100 %>],
                        <% } %>
                        <% if(((results0_5[0][i][1]-results0_5[1][j][1])/results0_5[0][i][1])*100 != -Infinity) { %>
                        [0.5, <%= ((results0_5[0][i][1]-results0_5[1][j][1])/results0_5[0][i][1])*100 %>],
                        <% } %>
                        <% if(((results1[0][i][1]-results1[1][j][1])/results1[0][i][1])*100 != -Infinity) { %>
                        [1, <%= ((results1[0][i][1]-results1[1][j][1])/results1[0][i][1])*100 %>],
                        <% } %>
                        <% if(((results2[0][i][1]-results2[1][j][1])/results2[0][i][1])*100 != -Infinity) { %>
                        [2, <%= ((results2[0][i][1]-results2[1][j][1])/results2[0][i][1])*100 %>],
                        <% } %>
                        <% if(((results5[0][i][1]-results5[1][j][1])/results5[0][i][1])*100 != -Infinity) { %>
                        [5, <%= ((results5[0][i][1]-results5[1][j][1])/results5[0][i][1])*100 %>],
                        <% } %>
                        <% if(((results10[0][i][1]-results10[1][j][1])/results10[0][i][1])*100 != -Infinity) { %>
                        [10, <%= ((results10[0][i][1]-results10[1][j][1])/results10[0][i][1])*100 %>]
                        <% } %>
                    ]
                },
                <% } %>
                <% } %>
                <% } %>
            ]
        });
    });

</script>

</body>
</html>
