<!DOCTYPE html>
<html>
<head>
    <title>Orderbook costs</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Orderbook costs</h1>

<div id="container" style="height: 400px; min-width: 310px"></div>


<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts//highcharts.js"></script>

<script>

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Orderbook costs'
            },
            xAxis: {
                title: {
                    text: 'Number of bitcoins'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Cost (R)'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f}%'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} BTC, R{point.y}'
                    }
                }
            },
            series: [
                <% for(var i = 0; i < results0_1[0].length; i++) { %>
                {
                    name: '<%= results0_1[0][i][0] %>-ASKS',
                    data: [
                        [0.1, <%= results0_1[0][i][1] %>],
                        [0.5, <%= results0_5[0][i][1] %>],
                        [1, <%= results1[0][i][1] %>],
                        [2, <%= results2[0][i][1] %>],
                        [5, <%= results5[0][i][1] %>],
                        [10, <%= results10[0][i][1] %>]
                    ]
                },
                <% } %>
                <% for(var i = 0; i < results0_1[0].length; i++) { %>
                {
                    name: '<%= results0_1[1][i][0] %>-BIDS',
                    data: [
                        [0.1, <%= results0_1[1][i][1] %>],
                        [0.5, <%= results0_5[1][i][1] %>],
                        [1, <%= results1[1][i][1] %>],
                        [2, <%= results2[1][i][1] %>],
                        [5, <%= results5[1][i][1] %>],
                        [10, <%= results10[1][i][1] %>]
                    ]
                },
                <% } %>
            ]
        });
    });

</script>

</body>
</html>
