<!DOCTYPE html>
<html>
<head>
    <title>Exchange compare</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>HaksCat</h1>

<a href="overview"><h2>Overview of prices</h2></a>

<a href="percentage"><h2>Overview of simple percentages</h2></a>

<a href="comprehensive/cost"><h2>Comprehensive cost</h2></a>

<a href="comprehensive/costpercoin"><h2>Comprehensive cost normalised</h2></a>

</body>
</html>
