<!DOCTYPE html>
<html>
<head>
    <title>Exchange compare</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Exchange prices</h1>

<div id="container" style="height: 400px; min-width: 310px"></div>


<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts//highcharts.js"></script>

<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'xy'
            },
            title: {
                text: 'Exchange buy vs sell comparison'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Cost (R)'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: R{point.y:.2f}'
            },

            plotOptions: {
                spline: {
                    marker: {
                        enabled: false
                    }
                }
            },

            series: [{
                name: 'BITSTAMP ASK',
                data: [
                        <% for(var i = 0; i < bitstampask.length; i++){ %>
                            [<%= bitstampask[i][0] %>, <%= bitstampask[i][1] %>],
                        <% } %>
                ]
            },{
                name: 'BITSTAMP BID',
                data: [
                    <% for(var i = 0; i < bitstampbid.length; i++){ %>
                    [<%= bitstampbid[i][0] %>, <%= bitstampbid[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BITX ASK',
                data: [
                    <% for(var i = 0; i < bitxask.length; i++){ %>
                    [<%= bitxask[i][0] %>, <%= bitxask[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BITX BID',
                data: [
                    <% for(var i = 0; i < bitxbid.length; i++){ %>
                    [<%= bitxbid[i][0] %>, <%= bitxbid[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'ICE3X ASK',
                data: [
                    <% for(var i = 0; i < iceask.length; i++){ %>
                    [<%= iceask[i][0] %>, <%= iceask[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'ICE3X BID',
                data: [
                    <% for(var i = 0; i < icebid.length; i++){ %>
                    [<%= icebid[i][0] %>, <%= icebid[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BITFINEX ASK',
                data: [
                    <% for(var i = 0; i < bitfinexask.length; i++){ %>
                    [<%= bitfinexask[i][0] %>, <%= bitfinexask[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BITFINEX BID',
                data: [
                    <% for(var i = 0; i < bitfinexbid.length; i++){ %>
                    [<%= bitfinexbid[i][0] %>, <%= bitfinexbid[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BTCC ASK',
                data: [
                    <% for(var i = 0; i < btceask.length; i++){ %>
                    [<%= btceask[i][0] %>, <%= btceask[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'BTCC BID',
                data: [
                    <% for(var i = 0; i < btcebid.length; i++){ %>
                    [<%= btcebid[i][0] %>, <%= btcebid[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'KRAKEN ASK',
                data: [
                    <% for(var i = 0; i < krakenask.length; i++){ %>
                    [<%= krakenask[i][0] %>, <%= krakenask[i][1] %>],
                    <% } %>
                ]
            },{
                name: 'KRAKEN BID',
                data: [
                    <% for(var i = 0; i < krakenbid.length; i++){ %>
                    [<%= krakenbid[i][0] %>, <%= krakenbid[i][1] %>],
                    <% } %>
                ]
            }]
        });
    });

</script>

</body>
</html>
