<!DOCTYPE html>
<html>
<head>
    <title>Exchange compare</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Exchange percentages</h1>

<div id="container" style="height: 400px; min-width: 310px"></div>


<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts//highcharts.js"></script>

<script>

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'xy'
            },
            title: {
                text: 'Win percentage'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Profit (%)'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f}%'
            },

            plotOptions: {
                spline: {
                    marker: {
                        enabled: false
                    }
                }
            },

            series: [{
                name: 'BITSTAMP ASK - BITX BID',
                data: [
                    <% for(var i = 0; i < bitstamp.length; i++){ %>
                    [<%= bitstamp[i][0] %>, <%= bitstamp[i][1] %>],
                    <% } %>
                ]
            }, {
                name: 'BITSTAMP BID - BITX ASK',
                data: [
                    <% for(var i = 0; i < bitstamp.length; i++){ %>
                    [<%= bitstamp[i][0] %>, <%= bitstamp[i][2] %>],
                    <% } %>
                ]
            }, {
                name: 'BITSTAMP ASK - ICE3X BID',
                data: [
                    <% for(var i = 0; i < bitstamp.length; i++){ %>
                    [<%= bitstamp[i][0] %>, <%= bitstamp[i][3] %>],
                    <% } %>
                ]
            }, {
                name: 'BITSTAMP BID - ICE3X ASK',
                data: [
                    <% for(var i = 0; i < bitstamp.length; i++){ %>
                    [<%= bitstamp[i][0] %>, <%= bitstamp[i][4] %>],
                    <% } %>
                ]
            },{
                name: 'BITFINEX ASK - BITX BID',
                data: [
                    <% for(var i = 0; i < bitfinex.length; i++){ %>
                    [<%= bitfinex[i][0] %>, <%= bitfinex[i][1] %>],
                    <% } %>
                ]
            }, {
                name: 'BITFINEX BID - BITX ASK',
                data: [
                    <% for(var i = 0; i < bitfinex.length; i++){ %>
                    [<%= bitfinex[i][0] %>, <%= bitfinex[i][2] %>],
                    <% } %>
                ]
            }, {
                name: 'BITFINEX ASK - ICE3X BID',
                data: [
                    <% for(var i = 0; i < bitfinex.length; i++){ %>
                    [<%= bitfinex[i][0] %>, <%= bitfinex[i][3] %>],
                    <% } %>
                ]
            }, {
                name: 'BITFINEX BID - ICE3X ASK',
                data: [
                    <% for(var i = 0; i < bitfinex.length; i++){ %>
                    [<%= bitfinex[i][0] %>, <%= bitfinex[i][4] %>],
                    <% } %>
                ]
            },{
                name: 'BTCC ASK - BITX BID',
                data: [
                    <% for(var i = 0; i < btcc.length; i++){ %>
                    [<%= btcc[i][0] %>, <%= btcc[i][1] %>],
                    <% } %>
                ]
            }, {
                name: 'BTCC BID - BITX ASK',
                data: [
                    <% for(var i = 0; i < btcc.length; i++){ %>
                    [<%= btcc[i][0] %>, <%= btcc[i][2] %>],
                    <% } %>
                ]
            }, {
                name: 'BTCC ASK - ICE3X BID',
                data: [
                    <% for(var i = 0; i < btcc.length; i++){ %>
                    [<%= btcc[i][0] %>, <%= btcc[i][3] %>],
                    <% } %>
                ]
            }, {
                name: 'BTCC BID - ICE3X ASK',
                data: [
                    <% for(var i = 0; i < btcc.length; i++){ %>
                    [<%= btcc[i][0] %>, <%= btcc[i][4] %>],
                    <% } %>
                ]
            },{
                name: 'KRAKEN ASK - BITX BID',
                data: [
                    <% for(var i = 0; i < kraken.length; i++){ %>
                    [<%= kraken[i][0] %>, <%= kraken[i][1] %>],
                    <% } %>
                ]
            }, {
                name: 'KRAKEN BID - BITX ASK',
                data: [
                    <% for(var i = 0; i < kraken.length; i++){ %>
                    [<%= kraken[i][0] %>, <%= kraken[i][2] %>],
                    <% } %>
                ]
            }, {
                name: 'KRAKEN ASK - ICE3X BID',
                data: [
                    <% for(var i = 0; i < kraken.length; i++){ %>
                    [<%= kraken[i][0] %>, <%= kraken[i][3] %>],
                    <% } %>
                ]
            }, {
                name: 'KRAKEN BID - ICE3X ASK',
                data: [
                    <% for(var i = 0; i < kraken.length; i++){ %>
                    [<%= kraken[i][0] %>, <%= kraken[i][4] %>],
                    <% } %>
                ]
            }]
        });
    });

</script>

</body>
</html>
